.footer {
  //   background-image: linear-gradient(to top, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)) url(../../images/footer.webp);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 41px;
  padding-bottom: 69px;
  background-color: #000;
}
.footer__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: $button-color;
}
.footer-main-block {
  display: flex;
  justify-content: space-between;
  margin-top: 84px;
}
.footer-block-imgs {
  display: flex;
}
.footer-img__list {
  display: flex;
  align-items: center;
}
.footer-img__item {
  margin-right: 104px;
  &:last-child {
    margin-right: 0;
    position: relative;
  }
  &:last-child::before {
    content: "";
    display: block;
    height: 59px;
    width: 1px;
    background-color: $main-text-color;
    position: absolute;
    left: -47.5px;
  }
}
.footer__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $button-color;
}
.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $button-color;
  margin-top: 24px;
  max-width: 427px;
}
.footer-formal-block {
    margin-top: 71px;
}
.footer__list {
    display: flex;
    justify-content: center;
}
.footer__item {
    margin-right: 40px;
}
.footer__link {
    color: $button-color;
}